* {
	font-family: Georgia, serif;
	color: #003636;}
body {
	background-color: #e7ffe7;}
a {
padding: 10px;}

nav, main, footer {
	background-color: #b5d5b5;
	padding: 10px;
	margin: 10px;}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;}
header {
	text-align: center;}
section {
	text-align: left;}


	
