* {
	font-family: Georgia, serif;
	color: #003636;
	text-align: left;}
body {
	background-color: #e7ffe7}
a {
padding: 10px;}

nav, main, footer {
	background-color: #b5d5b5;
	padding: 10px;
	margin: 10px;}
footer {
margin-bottom: 50px}

	
